<div>
  <label>
    <input type="checkbox"
      (click)="toggle.emit(competition)"
      [checked]="competition.selected"
      [disabled]="competition.eventCount === 0">
    <span>
      {{competition.title}}
    </span>
  </label>
</div>
