<div>
  <app-sports-menu
    [sports]="sports$ | async"
    (sportClick)="handleSportClick($event)">
  </app-sports-menu>

  <app-competitions-menu
    [competitions]="competitions$ | async"
    (toggle)="handleCompetitionToggle($event)">
  </app-competitions-menu>

  <app-calendar
    [dates]="calendarDates$ | async"
    (toggle)="handleDateToggle($event)">
  </app-calendar>
</div>
